<div id="renderFormAjax">
<%=render :partial => "website/form_ajax"%>
</div>

<div id="loadingBox"><img src="/images/loading.gif" id="loading" /></div>

<div class="web">
<%=render :template => "layouts/_web_list.html.erb"%>
</div>
